{% extends 'company/base.html' %} 

{% block title %} เข้าสู่ระบบ {% endblock title%}

{%block content %}

    <center>
        <h1>เข้าสู่ระบบ</h1>
    </center>

    {% if message %}
        <h3>{{ message }}</h3> <!-- show message from contactlist class from view.py -->
    {% else %}
        <form method="post">
            {% csrf_token %} <!-- secyrity for django -->
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
            <br>
            <p>not register yet? click here>> <a href="{%url 'register-page'%}">Register</a></p>
        </form>
    {% endif %}


{% endblock content %}
